<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Projects</a>
          <div class="navbar-dropdown">
            {{#each site.components}}
            <a class="navbar-item" href="{{{relativize ./url}}}">{{{./title}}}</a>
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Repositories</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/clojurephant/clojurephant">clojurephant</a>
            <a class="navbar-item" href="https://github.com/clojurephant/clojurephant-tooling">clojurephant-tooling</a>
            <a class="navbar-item" href="https://github.com/clojurephant/sample-clojurephant-clj-lib">
              sample-clojurephant-clj-lib
            </a>
            <a class="navbar-item" href="https://github.com/clojurephant/sample-clojurephant-clj-app">
              sample-clojurephant-clj-app
            </a>
            <a class="navbar-item" href="https://github.com/clojurephant/sample-clojurephant-cljs-app">
              sample-clojurephant-cljs-app
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
